<!-- <nav class="navbar navbar-expand-lg bg-secondary">
    <div class="container">
      <a class="navbar-brand text-light" href="/">Express Books</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link text-light" href="/">Home</a>
          <a class="nav-link text-light" href="/add-books">Add book</a>
        </div>
      </div>
    </div>
  </nav> -->


  <nav class="navbar bg-secondary" style="width: 100%;">
    <div class="container">
      <a class="navbar-brand text-light" href="/">Express Books</a>
      <div class="d-flex my-4">
        <a class="nav-link text-light mx-4" href="/home2">Home 2</a>
        <a class="nav-link text-light mx-4" href="/add-books">Add book</a>
        <a class="nav-link text-light mx-4" href="/add-books-db">Add book MYSQL</a>
      </div>
    </div>
  </nav>