<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add books</title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/navigation.ejs') %>

    <section id="add-book" class="container d-flex justify-content-center align-items-center">

        <div class="card bg-secondary text-white" style="width: 50%; margin: 1rem;">
            <div class="card-header text-center">
                <h3>Añadir nuevo registro</h3>
            </div>

            <div class="card-body">
                <form target="/add-book" method="post">
                    <div class="mb-3">
                        <label for="title">Título</label>
                        <input name="title" type="text" placeholder="Título del libro" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="author">Autor</label>
                        <input name="author" type="text" placeholder="Autor" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="image">URL de la Imagen</label>
                        <input name="image" type="text" placeholder="http://book-image.com" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="description">Descripción</label>
                        <textarea name="description" id="book-description" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="mb-3 d-flex justify-content-center">
                        <input type="submit" value="Guardar" class="btn btn-info" required>
                    </div>
                </form>
            </div>

        </div>
    </section>
    
    
</body>
</html>